@page
@model PlancherExpert.Pages.ForbiddenModel
@{
	ViewData["title"] = "Forbidden";
}

<section class="forbidden">
	<img src="~/images/icons/forbidden.svg">
	<h1>403</h1>
	<h2>Not this time, access forbidden!</h2>
</section>