@page
@model PlancherExpert.Pages.Product.CreateModel
@{
	ViewData["title"] = "Product Create";
}

<div class="product">
	<div class="mb-5">
		<h2>Add Floor Cover</h2>
		<hr />
	</div>

	<div class="product-add">
		<form method="post">
			<div class="row mb-2">
				<label for="name" class="col-sm-3 col-form-labek">Name</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="name" name="name" />
				</div>
			</div>

			<div class="row mb-2">
				<label for="price" class="col-sm-3 col-form-labek">Price (m<sup>2</sup>)</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="price" name="price" />
				</div>
			</div>

			<div class="row mb-4">
				<label for="installation" class="col-sm-3 col-form-labek">Installation (m<sup>2</sup>)</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="installation" name="installation" />
				</div>
			</div>

			<div class="row mb-2">
				<div class="offset-sm-3 col-sm-3 d-grid">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
				<div class="col-sm-3 d-grid">
					<a class="btn btn-outline-primary" asp-page="/Product/List" role="button">Cancel</a>
				</div>
			</div>

		</form>
	</div>
</div>