@page
@model PlancherExpert.Pages.Product.ListModel
@{
	ViewData["title"] = "Product List";
}

<section class="product">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h2>Flooring</h2>
		<a asp-area="" asp-page="create" class="btn btn-primary">Add Flooring</a>
	</div>
	<div>
		<table class="table align-middle mb-0 bg-white">
			<thead class="bg-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Price (m<sup>2</sup>)</th>
					<th scope="col">Installation (m<sup>2</sup>)</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@foreach(var product in Model.products)
				{
					<tr>
						<td scope="col">@product.Id</td>
						<td scope="col">@product.Name</td>
						<td scope="col">@product.Price</td>
						<td scope="col">@product.Installation</td>
						<td scope="col" class="table-actions">
							<a href="Edit?id=@product.Id"><img src="~/images/icons/edit.svg" alt="Edit" /></a>
							<a href="Delete?id=@product.Id"><img src="~/images/icons/delete.svg" alt="Delete" /></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>
